div.container
    div.main-screen
        div.main-screen__info
            h1.main-screen__title
                | Denis
                br
                | Novik
            div.main-screen__description
                | UX | UI designer
                br
                | 24 years old, Minsk
            div.lang-switcher
                a.lang-switcher__link RU
                span |
                a.lang-switcher__link.lang-switcher__link--active ENG
        img.main-screen__bg(src='static/img/content/main-bg.png')